<form id="playlistInfo">
  <label for="playlistId">Playlist ID:</label>
  <input type="text" id="playlistId" name="playlistId" required>
  <br>
  <label for="startIndex">Start index: (included)</label>
  <input type="number" id="startIndex" name="startIndex" required>
  <br>
  <label for="endIndex">End index: (included)</label>
  <input type="number" id="endIndex" name="endIndex" required>
  <br>
  <button type="button">Calculate duration</button>
</form>

<p><small>Index starts from 1, as displayed at YouTube website UI.</small></p>

<div id="duration"></div>

<script>
  import { calculatePlaylistDuration } from '../utils';
  const form = document.getElementById('playlistInfo') as HTMLFormElement;
  form!.addEventListener('click', async () =>{
    if (form === null) {
      return;
    }
    const formData = new FormData(form);
    const playlistId = formData.get('playlistId') as string
    const startIndex = parseInt(formData.get('startIndex') as string, 10) - 1;
    const endIndex = parseInt(formData.get('endIndex') as string, 10) - 1;
    const duration = await calculatePlaylistDuration(playlistId, startIndex, endIndex);
    document.getElementById('duration')!.textContent = `Total duration: ${duration} seconds`;
  })
</script>
